
<% layout("/layouts/boilerplate.ejs") %>
<body>

    <h1>All Listings</h1> <br>

<ul>
    <%for(listing of allListings){ %>
        <li>
           <a href="/listings/<%=listing._id%>"><%=listing.title%></a> 
            
        </li>
    <%}%>

    </ul>
</body>
